[submodule "aquarius"]
	path = aquarius
	url = https://github.com/RockefellerArchiveCenter/aquarius.git
[submodule "fornax"]
	path = fornax
	url = https://github.com/RockefellerArchiveCenter/fornax.git
[submodule "libra"]
	path = libra
	url = https://github.com/RockefellerArchiveCenter/libra.git
[submodule "ursa_major"]
	path = ursa_major
	url = https://github.com/RockefellerArchiveCenter/ursa_major.git
[submodule "gemini"]
	path = gemini
	url = https://github.com/RockefellerArchiveCenter/gemini.git
