version: '3'

services:
  db:
    image: postgres:10.4
    volumes:
      - gatewaydb:/var/lib/postgresql/data/
  web:
    build: .
    entrypoint: /code/entrypoint.sh
    volumes:
      - .:/code
    ports:
      - "8000:8000"
    depends_on:
      - db

volumes:
  gatewaydb:
