amqp==2.5.2
billiard==3.6.1.0
celery==4.3
certifi==2019.11.28
chardet==3.0.4
Django==2.2.8
django-celery-beat==1.5.0
django-celery-results==1.1.2
django-crispy-forms==1.8.1
django-datatables-view==1.19.1
django-timezone-field==4.0
djangorestframework==3.11.0
idna==2.8
kombu==4.6.7
psycopg2-binary==2.8.4
python-crontab==2.4.0
python-dateutil==2.8.1
pytz==2019.3
requests==2.22.0
six==1.14.0
urllib3==1.25.7
vine==1.3.0
