<table class="table table-striped">
  <thead>
    <th>Name</th>
    <th>Status</th>
    <th>Available at</th>
    <th>Services</th>
  </thead>
  <tbody>
    {% for application in object_list %}
      <tr>
        <td><a href="{{ application.get_absolute_url }}">{{ application.name }}</a></td>
        <td>
          {% include 'gateway/health_check_label.html' with status=application.health_check_status %}
          {% include 'gateway/active_label.html' with status=application.is_active %}
        </td>
        <td>http://{{application.app_host}}:{{application.app_port}}</td>
        <td>{% for service in application.serviceregistry_set.all %}<a href="{{service.get_absolute_url}}">{{service}}</a><br/>{% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>
