{% extends "gateway/base.html" %}

{% block h1_title %}
  Management Dashboard
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h2 class="box-title">Applications</h2>
      </div>
      <div class="box-body">
        {% if applications %}
          {% for app in applications %}
            <div class="application">
              <a href="{% url 'applications-detail' pk=app.id %}">
                <div class="col-md-12">
                  <div class="col-md-4">
                    <p class="box-title">{{ app.name }}</p>
                  </div>
                  <div class="col-md-4">
                    <p>{{app.serviceregistry_set.all|length}} services</p>
                  </div>
                  <div class="col-md-4 text-right">
                    {% include 'gateway/health_check_label.html' with status=app.health_check_status %}
                    {% include 'gateway/active_label.html' with status=app.is_active %}
                  </div>
                </div>
              </a>
            </div>
          {% endfor %}
        {% else %}
          <p>No applications are configured.</p>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h2 class="box-title">Recent Errors</h2>
      </div>
      <div class="box-body">
        {% if recent_errors %}
          {% for result in recent_errors %}
            <div class="error">
                <div class="col-md-12">
                  <div class="col-md-4">
                    {% if result.service %}
                    <a href="{% url 'services-detail' pk=result.service.id %}">
                      <p class="service-title">{{result.service.name}}</p>
                    </a>
                    {% else %}
                    <p class="service-title">no service</p>
                    {% endif %}
                    <p>{{result.task_result.date_done|date:"SHORT_DATETIME_FORMAT"}}</p>
                  </div>
                  <div class="col-md-8">
                    <a href="{% url 'results-detail' pk=result.id %}">
                      <p>
                        {% for e in result.error_messages %}{{e}}{% endfor %}
                      </p>
                    </a>
                  </div>
                </div>
            </div>
          {% endfor %}
        {% else %}
          <p>No recent errors.</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h2 class="box-title">Applications</h2>
      </div>
      <div class="box-body text-center">
        <div class="graph">
          <svg width="100%"><g></g></svg>
        </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
  $(document).ready(function() {
    // Create a new directed graph
    var g = new dagreD3.graphlib.Graph().setGraph({});
    g.graph().rankDir = 'LR';
    g.graph().ranksep = '20'

    // Microservice applications
    g.setNode("aquarius", { label: "Aquarius", style: "fill: lightblue" })
    g.setNode("fornax", { label: "Fornax", style: "fill: lightblue" })
    g.setNode("gemini", { label: "Gemini", style: "fill: lightblue" })
    g.setNode("pictor", { label: "Pictor", style: "fill: lightblue" })
    g.setNode("ursa major", { label: "Ursa Major", style: "fill: lightblue" })
    g.setNode("zorya", { label: "Zorya", style: "fill: lightblue" })

    // External applications
    g.setNode("aquila", { label: "Aquila", style: "fill: lightgreen" })
    g.setNode("archivematica", { label: "Archivematica", style: "fill: lightgreen" })
    g.setNode("archivesspace", { label: "ArchivesSpace", style: "fill: lightgreen" })
    g.setNode("aurora", { label: "Aurora", style: "fill: lightgreen" })
    g.setNode("fedora", { label: "Fedora", style: "fill: lightgreen" })

    // Connections between applications
    g.setEdge("zorya", "aquila", { label: "" })
    g.setEdge("zorya", "ursa major", { label: "" })
    g.setEdge("aurora", "ursa major", { label: "" })
    g.setEdge("ursa major", "fornax", { label: "" })
    g.setEdge("ursa major", "pictor", { label: "" })
    g.setEdge("fornax", "archivematica", { label: "" })
    g.setEdge("archivematica", "gemini", { label: "" })
    g.setEdge("gemini", "fedora", { label: "" })
    g.setEdge("gemini", "aquarius", { label: "" })
    g.setEdge("aquarius", "archivesspace", { label: "" })

    var svg = d3.select("svg"),
        inner = svg.select("g");

    // Create the renderer
    var render = new dagreD3.render();

    // Run the renderer. This is what draws the final graph.
    render(inner, g)
    svg.attr('height', g.graph().height);
    svg.attr('width', g.graph().width);
  });
</script>
{% endblock extra_js %}
