{% extends "gateway/base.html" %}
{% load util %}

{% block h1_title %}
  {{object.name}}
  <small>{% include 'gateway/active_label.html' with status=object.is_active %}</small>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h2 class="box-title">Application Details</h2>
      </div>
      <div class="box-body">
        <div class="row">
          <div class="col-md-4">
            <label>Host</label>
            <p>http://{{object.app_host}}</p>
          </div>
          <div class="col-md-4">
            {% if object.app_port %}
            <label>Port</label>
            <p>{{object.app_port}}</p>
            {% endif %}
          </div>
          <div class="col-md-4">
            <label>Health Check</label>
            {% if health_check_status %}
              <p class="text-success"><i class="fa fa-check-circle"></i> Healthy</p>
            {% elif health_check_status is False %}
              <p class="text-success"><i class="fa fa-check-times"></i> Not healthy</p>
            {% else %}
              <p><i class="fa fa-circle"></i> No health check available</p>
            {% endif %}
          </div>
        </div>
        {% if request.user.is_authenticated %}
        <div class="box-footer">
          <a href="{{ object.get_update_url }}" class="btn btn-primary">Edit Application</a>
          <a href="{% url 'applications-delete' pk=object.pk %}" class="btn btn-danger pull-right">Delete Application</a>
        </div>
        {% endif %}
        </div>
      </div>

      {% if object.serviceregistry_set.all %}
      <div class="box box-primary">
        <div class="box-header with-border">
          <h2 class="box-title">Application Services</h2>
        </div>
        <div class="box-body">
          <table class="table table-striped">
            <thead>
              <th>Name</th>
              <th>Status</th>
              <th>Description</th>
              <th>Trigger</th>
            </thead>
            <tbody>
              {% for service in object.serviceregistry_set.all %}
                <tr>
                  <td><a href="{{ service.get_absolute_url }}">{{ service.name }}</a></td>
                  <td>{% include 'gateway/active_label.html' with status=service.service_active %}</td>
                  <td>{{service.description}}</td>
                  <td>
                    {% if service.has_external_trigger %}<i class="fa fa-external-link"></i>External HTTP request{% else %}<i class="fa fa-clock-o"></i>Internal cron job{% endif %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
