{% extends "gateway/base.html" %}

{% block h1_title %}
  Applications
  <a class="btn btn-primary pull-right" href="{% url 'applications-add' %}">Add Application</a>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="box box-primary">
      <div class="box-body {% if object_list %}no-padding{% endif %}">
        {% if object_list %}
          {% include 'gateway/applications_list_table.html' %}
        {% else %}
          <p>No configured applications.</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
