<table class="table table-striped">
  <thead>
    <th>Name</th>
    <th>Status</th>
    <th>Application</th>
    <th>Description</th>
    <th>Trigger</th>
  </thead>
  <tbody>
    {% for service in object_list %}
      <tr>
        <td><a href="{{ service.get_absolute_url }}">{{ service.name }}</a></td>
        <td>{% include 'gateway/active_label.html' with status=service.service_active %}</td>
        <td><a href="{{service.application.get_absolute_url}}">{{service.application.name}}</a></td>
        <td>{{service.description}}</td>
        <td>
          {% if service.has_external_trigger %}<i class="fa fa-external-link"></i>External HTTP request{% else %}<i class="fa fa-clock-o"></i>Internal cron job{% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
