<table class="table table-striped">
  <tbody>
    <thead>
      <th>Name</th>
      <th>Active?</th>
      <th>Application</th>
      <th>Description</th>
      <th>Triggers</th>
    </thead>
    {% for service in object_list %}
      <tr>
        <td><a href="{{ service.get_absolute_url }}">{{ service.name }}</a></td>
        <td>{% include 'gateway/active_label.html' with status=service.service_active %}</td>
        <td><a href="{{service.application.get_absolute_url}}">{{service.application.name}}</a></td>
        <td>{{service.description}}</td>
        <td>{% if service.post_service %}<a href="{{service.post_service.get_absolute_url}}">{{service.post_service}} <span class="label label-default">POST</span>{% elif service.callback_service %}<a href="{{service.callback_service.get_absolute_url}}">{{service.callback_service}}</a> <span class="label label-default">Callback</span>{% endif %}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
