{% extends "gateway/base.html" %}

{% block h1_title %}
  {{object.name}}
  <small>{% include 'gateway/active_label.html' with status=object.is_active %}</small>
  {% if object.is_private %}<small><span class="label label-warning">Private</span></small>{% endif %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="box box-primary">
      <div class="box-body">
        <label>Description</label>
        <p>{{object.description}}</p>
        <label>Routes</label>
        <p><code>{{object.method}}</code> requests for <code>{{object.external_uri}}</code> will be sent to <code>{{object.service_route}}</code></p>
        {% if object.post_service or object.callback_service %}<label>Callbacks</label>{% endif %}
        {% if object.post_service %}
        <p>Delivers <code>{{object.post_service.method}}</code> request to <a href="{{object.post_service.get_absolute_url}}">{{object.post_service}}</a></p>
        {% elif object.callback_service %}
        <p>Queues <code>{{object.callback_service.method}}</code> request for <a href="{{object.callback_service.get_absolute_url}}">{{object.callback_service}}</a></p>
        {% endif %}
        <label>Application</label>
        <p><a href="{{object.application.get_absolute_url}}">{{object.application.name}}</a></p>
        <label>Authentication</label>
        <p>{{object.get_plugin_display}}</p>
      </div>
      <div class="box-footer">
        <a href="{{ object.get_update_url }}" class="btn btn-primary">Edit Service</a>
        <a href="{% url 'services-delete' pk=object.pk %}" class="btn btn-danger">Delete Service</a>
        <a href="#" id="trigger-service-btn" class="btn btn-success pull-right">Manually Trigger</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
  var trigger_url = '{{ object.get_trigger_url }}'
  $(document).ready(function(){
    $('#trigger-service-btn').click(function(){
      $.get(trigger_url,{}, function(resp){
        if(resp.SUCCESS == 1){
          alert('it worked, request queued')
	      retrieve_objects_async_results();
        }
      });
    })

    retrieve_objects_async_results();
  });


  var retrieve_objects_async_results = function(){
    // ajax request to retrieve queue by objects
    $.get('{{ object.get_async_results_data_url }}', {}, function(resp){
      console.log(resp);
    });
  }
</script>
{% endblock %}
