{% extends "gateway/base.html" %}

{% block h1_title %}
  Management Dashboard
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-6">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h2 class="box-title">Applications</h2>
      </div>
      <div class="box-body">
        {% if applications %}
          {% for app in applications %}
            <div class="application">
              <a href="{% url 'applications-detail' pk=app.id %}">
                <div class="col-md-12">
                  <div class="col-md-4">
                    <p class="box-title">{{ app.name }}</p>
                  </div>
                  <div class="col-md-6">
                    <p>{{app.serviceregistry_set.all|length}} services</p>
                  </div>
                  <div class="col-md-2">
                    {% include 'gateway/active_label.html' with status=app.is_active %}
                  </div>
                </div>
              </a>
            </div>
          {% endfor %}
        {% else %}
          <p>No applications are configured.</p>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h2 class="box-title">Recent Errors</h2>
      </div>
      <div class="box-body">
        {% if recent_errors %}
          {% for result in recent_errors %}
            <div class="error">
              <a href="{% url 'results-detail' pk=result.id %}">
                <div class="col-md-12">
                  <div class="col-md-4">
                    <p class="service-title">{{result.service.name}}</p>
                    <p>{{result.task_result.date_done|date:"SHORT_DATETIME_FORMAT"}}</p>
                  </div>
                  <div class="col-md-8">
                    <p>
                      {% for e in result.error_messages %}{{e}}{% endfor %}
                    </p>
                  </div>
                </div>
              </a>
            </div>
          {% endfor %}
        {% else %}
          <p>No recent errors.</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h2 class="box-title">Services</h2>
      </div>
      <div class="box-body">
        <div class="graph">
          <svg width="100%"><g></g></svg>
        </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
  $(document).ready(function() {
    // Create a new directed graph
    var g = new dagreD3.graphlib.Graph().setGraph({});
    g.graph().rankDir = 'LR';
    g.graph().ranksep = '20'

    colors = {
      "Aquarius": "lightblue",
      "Aurora": "lightcyan",
      "Fornax": "lightpink",
      "Gemini": "lightgreen",
      "Pisces": "sandybrown",
      "Ursa Major": "lightcoral"
    }

    // Automatically label each of the nodes
    {% for s in services %}
      g.setNode("{{s.name}}", { label: "{{s.name}}", application: "{{s.application.name}}"});
    {% endfor %}

    // Set up the edges
    {% for s in services %}
      {% if s.callback_service %}g.setEdge("{{s.name}}", "{{s.callback_service.name}}", { label: "" });{% endif %}
      {% if s.post_service %}g.setEdge("{{s.name}}", "{{s.post_service.name}}", { label: "" }){% endif %}
    {% endfor %}

    // Set some general styles
    g.nodes().forEach(function(v) {
      var node = g.node(v);
      var color = colors[node['application']]
      node['style'] = "fill:" + color
      node.rx = node.ry = 5;
    });

    var svg = d3.select("svg"),
        inner = svg.select("g");

    // Create the renderer
    var render = new dagreD3.render();

    // Run the renderer. This is what draws the final graph.
    render(inner, g)
    svg.attr('height', g.graph().height);
    svg.attr('width', g.graph().width);
  });
</script>
{% endblock extra_js %}
