{% extends "gateway/base.html" %}

{% block h1_title %}
  Management Dashboard
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h2 class="box-title">Recent Services</h2>
        <a class="btn btn-primary pull-right" href="{% url 'services-add' %}">Add Service</a>
      </div>
      <div class="box-body {% if recent_services %}no-padding{% endif %}">
        {% if recent_services %}
          {% include 'gateway/services_list_table.html' with object_list=recent_services %}
        {% else %}
          <p>No configured services.</p>
        {% endif %}
      </div>
      {% if recent_services %}
      <div class="box-footer text-center">
        <a href="{% url 'services-list' %}" class="btn btn-default">View all services</a>
      </div>
      {% endif %}
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h2 class="box-title">Recent Applications</h2>
        <a class="btn btn-primary pull-right" href="{% url 'applications-add' %}">Add Application</a>
      </div>
      <div class="box-body {% if recent_applications %}no-padding{% endif %}">
        {% if recent_applications %}
          {% include 'gateway/applications_list_table.html' with object_list=recent_applications %}
        {% else %}
          <p>No configured applications.</p>
        {% endif %}
      </div>
      {% if recent_applications %}
      <div class="box-footer text-center">
        <a href="{% url 'applications-list' %}" class="btn btn-default">View all applications</a>
      </div>
      {% endif %}
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h2 class="box-title">Recent Results</h2>
      </div>
      <div class="box-body {% if recent_results %}no-padding{% endif %}">
        {% if recent_results %}
          {% include 'gateway/results_list_table.html' with object_list=recent_results %}
        {% else %}
          <p>No results.</p>
        {% endif %}
      </div>
      {% if recent_results %}
      <div class="box-footer text-center">
        <a href="{% url 'results-list' %}" class="btn btn-default">View all results</a>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
