{% extends "gateway/base.html" %}
{% load crispy_forms_tags %}

{% block h1_title %}
  Edit System
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <form method="post">
      <div class="box box-primary">
        <div class="box-body">
          {% csrf_token %}
          {{form|crispy}}
        </div>
        <div class="box-footer">
          <input class="btn btn-primary" type="submit" value="Update" />
          <a href="{{object.get_absolute_url}}" class="btn btn-danger">Cancel</a>
          <a href="{% url 'systems-delete' pk=object.pk %}" class="btn btn-warning pull-right">Delete</a>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
