<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.title }} | {{ page.title }}</title>

  <!-- Vue 3 -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

  <!-- RAC style Library -->
  <link rel="icon" type="image/x-icon" href="https://assets.rockarch.org/assets/img/favicon.ico">
  <link rel="stylesheet" type="text/css" href="https://assets.rockarch.org/v0.13.2/main.min.css">

  <!-- Custom CSS -->
  <link rel="stylesheet" type="text/css" href="{{ "/assets/css/main.css" | relative_url }}">
</head>
