DEBUG = True

ALLOWED_HOSTS = ['localhost', 'zodiac-web']

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': 'postgres',
        'USER': 'postgres',
        'HOST': 'zodiac-db',
        'PORT': 5432,
    }
}

STATIC_ROOT = '/static'

CELERY_BROKER_URL = 'pyamqp://guest:guest@my-rabbit:5672//'
CELERY_RESULT_BACKEND = 'django-db'

MAX_SERVICES = 10 # Maximum number of services to trigger at once
DELETE_SUCCESSFUL_AFTER = 7 # number of days after which successful results will be deleted
