ALLOWED_HOSTS = ['localhost', 'zodiac-web']

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': 'postgres',
        'USER': 'postgres',
        'HOST': 'gateway-db',
        'PORT': 5432,
    }
}
