<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar" style="height: auto;">
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">

        <li>
          <a href="{% url 'dashboard' %}">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
          </a>
        </li>
        <li>
          <a href="{% url 'services-list' %}">
            <i class="fa fa-exchange"></i> <span>Services</span>
          </a>
        </li>
        <li>
          <a href="{% url 'systems-list' %}">
            <i class="fa fa-gears"></i> <span>Systems</span>
          </a>
        </li>
        <li>
          <a href="{% url 'results-list' %}">
            <i class="fa fa-envelope-o"></i> <span>Results</span>
          </a>
        </li>

    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
