{% extends "management/base.html" %}

{% block h1_title %}
  Management Dashboard
{% endblock %}

{% block content %}
<div class="row">

  <div class="col-md-6">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Services</h3>
      </div>
      <div class="box-body">
        <p>No active services.</p>
        <a class="btn btn-primary" href="{% url 'services-add' %}">Add Service</a>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Systems</h3>
      </div>
      <div class="box-body">
        <p>No configured external systems.</p>
        <a class="btn btn-primary" href="{% url 'systems-add' %}">Add System</a>
      </div>
    </div>

  </div>

</div>
{% endblock %}
