{% extends "management/base.html" %}

{% block h1_title %}
  Management Dashboard
{% endblock %}

{% block content %}
<div class="row">

  <div class="col-md-6">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Services</h3>
      </div>
      <div class="box-body">
        {% if recent_services %}
          <ul>
          {% for service in recent_services %}
              <li><a href="{{ service.get_absolute_url }}">{{ service.name }}</a></li>
          {% endfor %}
          </ul>
        {% else %}
        <p>No active services.</p>
        {% endif %}
        <a class="btn btn-primary" href="{% url 'services-add' %}">Add Service</a>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Systems</h3>
      </div>
      <div class="box-body">
        {% if recent_systems %}
          <ul>
          {% for system in recent_systems %}
            <li>{{ system.name }}</li>
          {% endfor %}
          </ul>
        {% else %}
          <p>No configured external systems.</p>
        {% endif %}
        <a class="btn btn-primary" href="{% url 'systems-add' %}">Add System</a>
      </div>
    </div>

  </div>

</div>
{% endblock %}
