@import url('https://fonts.googleapis.com/css?family=Eczar');

.main-header .logo {
	font-family: "Eczar", serif;
	font-size: 40px;
	padding-top: 3px;
}

pre {
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
}
